*.Identifier
*.venv
dataset/**
!dataset/
final_project/data/
final_project_video/
src/dataset/
*.csv
*.geojson
*.zip
final_project/data/raw/
final_project/data/processed/
final_project/data/output/
data/raw/
data/processed/
data/output/